{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}
Create a new student
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <form method="post">
                {%  csrf_token %}
                {{ form|crispy }}<br>
                <input type="submit" class="btn btn-outline-primary btn-sm" value="Create">
                <a class="btn btn-outline-secondary btn-sm" href="{% url 'students:list' %}">Cancel</a>
            </form>
        </div>
        <div class="col-3"></div>
    </div>

{% endblock %}