{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}List of Students{% endblock %}

{% block custom_css %}
#list {
    font_family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    #list td {
        border: 1px solid #dddd;
        text-align: left;
        padding: 8px;
    }

    #list tr:nth-child(even) {
    background-color: #2222;
    }
{% endblock %}

{% block content %}
    <div class="row mb-3">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Search form
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <div class="col">
        <form method='GET'>
{#            <div class="form-floating mb-3">#}
{#                <input type="text" class="form-control" id="floatingFirstName" placeholder="A" name="first_name">#}
{#                <label for="floatingFirstName">First name</label>#}
{#            </div>#}
{#            <div class="form-floating">#}
{#                <input type="text" class="form-control" id="floatingLastName" placeholder="B" name="last_name">#}
{#                <label for="floatingLastName">Last name</label>#}
{#            </div>#}
            {{ object_list.form|crispy }}
            <input class="btn btn-outline-primary mt-3" type="submit" value="Search">
        </form>
        </div>
    <div class="col-6"></div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
        {% with objects_list=object_list.qs  group_on=True %}
            {% include 'includes/students_tab.html' %}
        {% endwith %}
    </div>
{% endblock %}
